body {
    padding-left: 50px;
    padding-top: 20px;
}

.titulo-controle {
    padding-bottom: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}